@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --bg-primary: linear-gradient(#e66465, #9198e5);

    --text-primary: #fff;
    --text-secondary: hsl(235, 19%, 35%);
    --text-hover: hsl(235, 24%, 19%);

    --clr-accent: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.loading {
    height: 100vh;
    background: var(--bg-primary);
    display: none;
}
ul[role='list'] {
    list-style: none;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
}
.header img {
    height: 100px;
    object-fit: contain;
}
/* Navigation */

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;

    background: var(--bg-primary);
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--text-primary);
}
.navigation ul li {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.navigation[data-visible='true'] {
    transform: translateX(0%);
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    background-image: url('/assets/icon-hamburger.svg');
    background-repeat: no-repeat;
}
.mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('/assets/icon-close.svg');
    background-repeat: no-repeat;
}

/* Main -- Index */
.main {
    display: grid;
    place-content: center;
    gap: 2em;
}
.main__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 1px solid var(--text-hover);
    border-radius: .25em;
    padding: 1em;
}
.main__card img {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
}
.main__card button {
    width: 20rem;
    background: var(--bg-primary);
    color: var(--text-primary);
    padding: .5em 2em;
    text-align: center;
    border: none;
    border-radius: .5em;
}